---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dar Ribati">
	<main class="min-h-screen flex items-center justify-center">
		<h1 class="text-4xl font-bold">Dar Ribati</h1>
	</main>
</Layout>
